
    * {  
        margin: 0;  
        padding: 0;  
        box-sizing: border-box; 
        font-family: Arial, sans-serif;  
    }
#nav-head{
    text-align: center;
    background-color:  rgb(3,47,60);
color: rgb(245, 230, 230);
padding: 8px;
border-bottom: 2px solid rgb(2,71,77) ;
}
#nav2{
    background-color: rgb(4,97,105);
    padding: 10px;

}
a{
    text-decoration: none;
    color: rgb(245, 230, 230);
font-size:large;
margin-right: 5%;
}
#sign-in{
    float: right;
}
.img1{
    width: 20px;
}