* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: #333;
    background-color: #f4f4f4;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: url('hero-bg.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
    background-position: center;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 20px;
}

.hero button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff6200;
    border: none;
    color: #fff;
    cursor: pointer;
}

.product-grid {
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
}

.product-grid h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.product-grid .products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border: 1px solid #ddd;
    flex-basis: 30%;

}

.product img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product h4 {
    margin-bottom: 10px;
    font-size: 24px;
}

.product p {
    font-size: 18px;
    color: #555;
}

#about, #contact {
    padding: 40px 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
